@font-face { /* PT Sans Font Definition */
	font-family: PT Sans;
	src: url(fonts/PT_Sans-Web-Regular.ttf);
}

@font-face { /* PT Sans Font Definition */
	font-family: PT Sans Bold;
	src: url(fonts/PT_Sans-Web-Bold.ttf);
}

@font-face { /* PT Sans Font Definition */
	font-family: PT Sans Italic;
	src: url(fonts/PT_Sans-Web-Italic.ttf);
}

@font-face { /* PT Sans Font Definition */
	font-family: PT Sans Bold Italic;
	src: url(fonts/PT_Sans-Web-BoldItalic.ttf);
}

@-moz-keyframes rotateRightObject /*--for firefox--*/{ /* Molecule Rotation FireFox */
    from{
        -moz-transform:rotate(0deg);
    }       
    to{
        -moz-transform:rotate(-360deg);
    }                       
}

@-webkit-keyframes rotateRightObject /*--for webkit--*/{ /* Molecule Rotation Chrome */
    from{
        -webkit-transform:rotate(0deg);
    }       
    to{
        -webkit-transform:rotate(-360deg);
    }                       
}

@-moz-keyframes rotateLeftObject /*--for firefox--*/{ /* Atom Rotation FireFox */
    from{
        -moz-transform:rotate(0deg);
    }       
    to{
        -moz-transform:rotate(360deg);
    }                       
}

@-webkit-keyframes rotateLeftObject /*--for webkit--*/{ /* Atom Rotation Chrome */
    from{
        -webkit-transform:rotate(0deg);
    }       
    to{
        -webkit-transform:rotate(360deg);
    }                       
}